:root {
  --background-color-primary: #ffc8c8;
  --background-color-secondary: #ff9999;
  --font-color: #000;
  --link-color: #00008f;
}

body {
  background-color: (var(--background-color-secondary));
  color: (var(--font-color));
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: calc(1em + 1vw);

  a {
    background-color: var(--background-color-secondary);
    color: var(--link-color);
    transition: 0.1s ease-in-out;
    border-radius: 5px;
    &:hover,
    &:active,
    &:focus {
      background: var(--font-color);
      color: #eee;
      outline: 2px solid #eee;
    }
  }

  code {
    background-color: (var(--background-color-primary));
  }

  hr {
    margin: 3rem auto;
    width: 25%;
    border: 1px solid var(--font-color);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

#delete-me-wrapper {
  padding: 0 1rem;

  section,
  main {
    max-width: 70rem;
    margin: 0 auto;
  }

  main {
    margin-top: 1.5rem;
  }

  code {
    border-radius: 5px;
    padding: 0.5%;
  }

  #hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      font-size: 200%;
    }
  }

  .section-header {
    display: flex;
    align-items: center;
    a {
      margin-left: 1%;
      text-decoration: none;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border: rgba(0, 0, 0, 0.5) 5px solid;
  }

  iframe {
    border: none;
    margin: 1.5rem auto 0 auto;
    max-width: 100%;
  }

  footer {
    text-align: center;
    margin-top: 6rem;
    padding: 2% 0;
  }
}

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}
